body{
    
  margin:0;
 
}

header 
{ 
  width:100%;
  height:70px; 
  background-color: black;
position: fixed;
}

img
{
    width: 50px;
    
}
ul
{
    list-style: none;
    margin: 0px;
    vertical-align: middle;
    width: 100%;
}

li
{
  display: inline-block;
    
}

#container
{
 overflow: scroll;    
 margin: auto;    

}

li#imageElement
{
  width: 10%;  
  float: left;
  padding-left: 80px;
 padding-top: 7px;   
}

ul>#searchElement
{
 width: 50%;  
 padding-top: 17px;
}



section
{
   float:left;
    width:35%;
    padding-top:75px;
 
    position: absolute;
    left:10%;
    
}
aside{
    
    float:left;
    width:25%;
    left: 50%;
    margin: 2%;
    position: fixed;
     margin-top:75px;
    
}


input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 100%;
	background-color: #fff;
	border-color: ;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
    outline: none;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

footer
{
 position:absolute;
 bottom: 0;
 background-color: black;
 color: red;    
     
}


