body{
    
  margin:0;
    
}

header 
{ 
  width:100%;
  height:70px; 
  background-color: black;
  position: fixed; 
  
}

img
{
    width: 50px;
    
}
ul
{
    list-style: none;
     margin: 0px;
    position: relative;
    
}

li
{
  display: inline-block;
  padding-bottom: 10px;
    border-left: 1px solid grey;
     border-right: 1px solid grey;
    
}

ul>#blankElement
{
  width: 5%;    
}

ul>#blankElement1
{
  width: 5%;  
  color: red;
  
  
}
ul>#imageElement
{
 padding-top: 8px;
padding-left: 50px;    
 width: 10%; 
 float: left;
}

ul>#searchElement
{
 width: 50%;  
 padding-top: 18px;    
      
}



input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 100%;
	background-color: #fff;
	border-color: ;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
    outline: none;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

