@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


#login_body {
    background-image: url(assets/poly.jpg);
    background-size: cover;
}

#logo {
    height: 105.8px;
    width: 222.7px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -52.9px;
    margin-left: -111.35px;
    background-size: cover;
    
}
#tagline{
    position: fixed;
    font-size: 30px;
    height: 5%;
    width: 50%;
    top: 20%;
    left: 25%;
    text-align: center;
    font-weight: bolder;
    
}

a#different1{
    color: #2b9ffa;
    
}
a#people{
    color: #24bbaa;
}
a#have{
    color: #93c73f;
}
a#different2{
    color: #f99e29;
}
a#opinions{
    color: #ff3155;
}



#form{
    float: none;
}

#login{
    width: 24%;
    height: 42%;
    position: fixed;
    top: 29%;
    left: 38%;
    text-align: center;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold
    
}

div>form>a{
    font-size: 10px;
    float: right;
}
#signupwith{
    
    padding-top: 15px;
    padding-bottom: 5px;
}
@font-face{
    font-family: welcome;
    src: url(assets/High%20Thin%20LIGHT.ttf) 
}
h4{
    color: white;
    font-family: welcome;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
a{
    color: white;
    font-family: welcome;
    margin: 0;
}


p{
    margin: 0;
}
input {
    background-color: #888888;
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 30px;
    margin: 5px 0;
    opacity: 0.5;
    transition: 0.5s;
    box-sizing: border-box;
    border: none;

}
input#username {
    background-image: url(assets/user.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
input#password {
    background-image: url(assets/password.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

input:focus {
    opacity: 1;
    outline: none;
    
}
input[type=submit]:hover {
    opacity: 1;
    background-color: #888888;
}
div#quotesection{
    font-family: welcome;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    width: 60%;
    position: fixed;
    top: 80%;
    left: 20%;
}
#quote{
    
    text-align: center; 
}
#author{
    text-align: right;
}
/*
input[type=submit]{
    width: 100%;
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px 0;
    color: #190f41;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid #190f41;
    background-color: #f5f0ea;
    opacity: .7;
    margin-right: 7px;
}
*/






body {
  font-family: 'Lato', sans-serif;
  color: #FFF;
  background: #322f30;
  -webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: #fff;
}

p > a:hover{
	color: #d9d9d9;
	text-decoration:  underline;
}



._12 {
	font-size: 1.2em;

}

._14 {
	font-size: 1.4em;

}

ul {
	padding:0;
	list-style: none;
}

.footer-social-icons {
	width: 350px;
	display:block;
  margin: 0 auto;
}

.social-icon {
	color: #fff;
}

ul.social-icons {	
	margin-top: 10px;

}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	color: #fff; 
	text-decoration: none;
}


.fa-facebook {
	padding:10px 14px 7px 14px;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-twitter {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-twitter:hover {
	background-color: #00aced;
}

.fa-rss {
	padding:10px 12px 7px 12px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-rss:hover {
	background-color: #eb8231;
}

.fa-youtube {
	padding:10px 12px 7px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-youtube:hover {
	background-color: #e64a41;
}

.fa-linkedin {
	padding:10px 11px 8px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-linkedin:hover {
	background-color: #0073a4;
}

.fa-google-plus {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-google-plus:hover {
	background-color: #e25714;
}